{% set org = suggestions[0].data %}

🏢 <b>Наименование организации: <code>{{ org.name.full_with_opf }}</code></b>

🆔 ИНН: <code>{{ org.inn }}</code>
📑 ОГРН: <code>{{ org.ogrn }}</code>
🔖 КПП: <code>{{ org.kpp }}</code>
✅ Статус: <code>{{ 'Действующая' if org.state.status == 'ACTIVE' else 'Недействующая' }}</code>
📅 Дата регистрации: <code>{{ registration_date }}</code>

📍 Адрес:
<code>{{ org.address.unrestricted_value }}</code>

👔 Руководитель:
<code>{{ org.management.name }}</code> — <code>{{ org.management.post }}</code>

📊 ОКТМО: <code>{{ org.oktmo }}</code>